In [2]:
import pandas as pd

In [3]:
test_series = pd.Series({'header' : 'Given Name,Family Name,Age,Sex,Customer ID'})

In [4]:
test_series

header    Given Name,Family Name,Age,Sex,Customer ID
dtype: object

In [5]:
test_data = pd.DataFrame(test_series)
test_data.columns

RangeIndex(start=0, stop=1, step=1)

In [6]:
dict = { "one" : [1,2,3,4]}

In [7]:
my_series = pd.Series(dict)

In [8]:
df1 = pd.DataFrame(my_series)
df1

                0
one  [1, 2, 3, 4]

In [9]:
df1.loc['one']

0    [1, 2, 3, 4]
Name: one, dtype: object

In [14]:
covid_date_dict = {
    'date':       ['2020-08-30', '2020-08-31', '2020-09-01', '2020-09-02', '2020-09-03']
}
covid_date_list = ['2020-08-30', '2020-08-31', '2020-09-01', '2020-09-02', '2020-09-03']
covid_case_dict = {
    'new_cases':  [1444, 1365, 996, 975, 1326]
}
covid_deaths_dict = {
        'new_deaths': [1, 4, 6, 8, 6]
}
covid_tests_dict = {
    'new_tests': [53541, 42583, 54395, None, None]
}

In [11]:
df_sample = pd.DataFrame()

In [31]:
df_sample["covid_case_dict"] = pd.Series(covid_case_dict)

In [32]:
df_sample["covid_date_dict"] = pd.Series(covid_date_dict)

In [33]:
df_sample

                                        covid_date_dict covid_case_dict
date  [2020-08-30, 2020-08-31, 2020-09-01, 2020-09-0...             NaN

In [18]:
type(df_sample.covid_date_dict)

pandas.core.series.Series

In [47]:
ser1 = pd.Series(covid_date_dict)
ser1

date    [2020-08-30, 2020-08-31, 2020-09-01, 2020-09-0...
dtype: object

In [ ]:
pd.Series(covid_date_dict)

df = pd.concat([a_series, another_series], axis=1)
merge

In [49]:
covid_series = pd.concat([pd.Series(covid_data_dict), pd.Series(covid_case_dict), pd.Series(covid_deaths_dict), pd.Series(covid_tests_dict)], axis=1)
covid_series

,0,1,2,3
date,"[2020-08-30, 2020-08-31, 2020-09-01, 2020-09-0...",NaN,NaN,NaN
new_cases,"[1444, 1365, 996, 975, 1326]","[1444, 1365, 996, 975, 1326]",NaN,NaN
new_deaths,"[1, 4, 6, 8, 6]",NaN,"[1, 4, 6, 8, 6]",NaN
new_tests,"[53541, 42583, 54395, None, None]",NaN,NaN,"[53541, 42583, 54395, None, None]"

In [42]:
covid_df = pd.DataFrame(covid_series)
covid_df

                                                            0
date        [2020-08-30, 2020-08-31, 2020-09-01, 2020-09-0...
new_cases                        [1444, 1365, 996, 975, 1326]
new_deaths                                    [1, 4, 6, 8, 6]
new_tests                   [53541, 42583, 54395, None, None]

In [50]:
covid_df = pd.read_csv("../Notebooks/Jovian/python-pandas-data-analysis-v-42/italy-covid-daywise.csv")

In [51]:
type(covid_df.loc[243])

pandas.core.series.Series